<div class="row">
  <div class="col-md-6">
    <h3>May 5, 2020</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a></td> </tr>
      <tr> <td>08:30</td>  <td><a href="https://librarycarpentry.org/lc-overview/">Jargon Busting, A Computational Approach, Introduction to Working with Data (Regular Expressions)</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>May 7, 2020</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy data for librarians</a></td> </tr>
      <tr> <td>10:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>11:00</td>  <td>END</td> </tr>
    </table>
  </div>
   <div class="col-md-6">
    <h3>May 12, 2020</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="https://librarycarpentry.org/lc-shell/">The UNIX Shell</a></td> </tr>
       <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>May 14, 2020</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">Open Refine</a></td> </tr>
      <tr> <td>12:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>May 19, 2020</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="https://librarycarpentry.org/lc-sql/">SQL</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
 <div class="col-md-6">
    <h3>May 21, 2020</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="https://authorcarpentry.github.io/dois-citation-data/">Persistent access for research outputs with Digital Object Identifiers</a></td> </tr>
      <tr> <td>09:50</td>  <td>Morning Break</td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://authorcarpentry.github.io/orcid-profile/">Establishing Scholarly Identity with Online Research Contributor Identifiers (OrCiDs)</a> </td> </tr>
      <tr> <td>10:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>11:00</td>  <td> <a href="{{ site.post_survey }}{{ site.github.project_title }}">Post-workshop survey</a></td> </tr>
    </table>
  </div>

</div>
