<div class="row">
  <div class="col-md-6">
    <h3>Tues, Jan 24</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a></td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-overview/03-jargon-busting/index.html">Jargon Busting</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://librarycarpentry.org/lc-overview/04-computational-approach/index.html">A Computational Approach</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://librarycarpentry.github.io/lc-data-intro/">Introduction to Working with Data (Regular Expressions)</a></td> </tr>
      <tr> <td>12:00</td>  <td>LUNCH</td> </tr>
      <tr> <td>1:00</td>  <td>Continue with Regular Expressions</td> </tr>
      <tr> <td>2:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wed, Jan 25</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy data for librarians</a></td> </tr>
      <tr> <td>10:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>11:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
   <div class="col-md-6">
    <h3>Tues, Jan 31</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-shell/">The UNIX Shell</a></td> </tr>
       <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>1:00</td>  <td>Continue with UNIX Shell</td> </tr>
      <tr> <td>2:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wed, Feb 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">Open Refine</a></td> </tr>
      <tr> <td>12:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Thur, Feb 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-sql/">SQL</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>1:00</td>  <td>Continue with SQL</td> </tr>
      <tr> <td>2:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
