<div class="row">
            <div class="col-md-6">
                <h3 id="syllabus-data">Jargon Busting, A Computational Approach, Introduction to Working with Data</h3>
                <ul>
                    <li>Jargon Busting</li>
                    <li>A Computational Approach</li>
                    <li>Introduction to Working with Data (Regular Expressions)</li>
                    <li><a href="https://librarycarpentry.org/lc-data-intro/reference">Reference...</a></li>
                </ul>
            </div>
           
            <div class="col-md-6">
                <h3 id="syllabus-tidy">Tidy data for librarians</h3>
                <ul>
                    <li> Using spreadsheet programs for data wrangling</li>	
                    <li>Formatting data tables in Spreadsheets</li>
                    <li>Formatting problems</li>
                    <li>Dates as data</li>
                    <li>Basic quality assurance and control, and data manipulation in spreadsheets</li>
                    <li>Exporting data from spreadsheets</li>
                    <li>Caveats of popular data and file formats</li>
                    <li><a href="https://librarycarpentry.org/lc-spreadsheets/reference">Reference...</a></li>
                </ul>
            </div>
</div>
           <div class="row">
            <div class="col-md-6">
                <h3 id="syllabus-data">Jargon Busting, A Computational Approach, Introduction to Working with Data</h3>
                <ul>
                    <li>Jargon Busting</li>
                    <li>A Computational Approach</li>
                    <li>Introduction to Working with Data (Regular Expressions)</li>
                    <li><a href="https://librarycarpentry.org/lc-data-intro/reference">Reference...</a></li>
                </ul>
            </div>
           
            <div class="col-md-6">
                <h3 id="syllabus-tidy">Tidy data for librarians</h3>
                <ul>
                    <li> Using spreadsheet programs for data wrangling</li>	
                    <li>Formatting data tables in Spreadsheets</li>
                    <li>Formatting problems</li>
                    <li>Dates as data</li>
                    <li>Basic quality assurance and control, and data manipulation in spreadsheets</li>
                    <li>Exporting data from spreadsheets</li>
                    <li>Caveats of popular data and file formats</li>
                    <li><a href="https://librarycarpentry.org/lc-spreadsheets/reference">Reference...</a></li>
                </ul>
            </div>
</div>
